@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --bg-color: #f5f5f5;
  --font-color: #222;
  --font-color-2: #57269f;
  --font-color-3: #3f3f3f;
  --font-color-4: #fff;
}

[data-tema="dark"] {
  --bg-color: rgb(17, 17, 17);
  --font-color: #f5f5f5;
  --font-color-2: #57269f;
  --font-color-3: #c0c0c0;
  --font-color-4: #fff;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 30px;
  color: var(--font-color);
  background-color: var(--bg-color);
}

/*Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

header img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-bottom: 30px;
}

header p {
  font-size: 120%;
  color: var(--font-color-3);
}

/*Section*/
section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

section article a {
  text-decoration: none;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px;
}

section article div {
  min-height: 100px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section article div.list img {
  width: 30px;
  margin-bottom: 10px;
}

section article div#img img {
  width: 80px;
  margin-bottom: 10px;
}

section article div h3 {
  text-align: center;
  line-height: 23px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  color: var(--font-color-4);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: #57269f;
  text-decoration: none;
}

/* TOGGLE  */
.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #0e0e0e;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #57269f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider svg {
  color: #fff;
  position: absolute;
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.35s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.35s ease 0s;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
  pointer-events: none;
}

.feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

.feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

input:checked + .slider .feather-moon {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

input:checked + .slider .feather-sun {
  opacity: 0;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}




@media only screen and (max-width: 600px) {
  #info{
    font-size: 150%!important;
  }
}
/*# sourceMappingURL=styles.css.map */